
{% extends "chub/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
Register - Chub
{% endblock %}

{% block headingtitle %}

{% endblock %}

{% block bodycontent %}

<div class="container">

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form role="form" method="POST">
        {% csrf_token %}
            <h2>Please Log In <small>It's free and always will be.</small></h2>
            <hr class="colorgraph">
            <div class="form-group">
                <input type="text" name="username" id="username" class="form-control input-lg" placeholder="User Name" tabindex="3">
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
                    </div>
                </div>
            </div>

            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-md-6"><input type="submit" value="Login" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
            </div>
        </form>
    </div>
</div>
</div>


{% endblock bodycontent %}


{% block jscontent %}
    <script>


    </script>
{% endblock jscontent %}