{% extends "flip/base.html" %}
{% load staticfiles %}

{% block title %}
Page Not Found - Flip
{% endblock %}

{% block headingtitle %}
Page Not Found - Flip
{% endblock %}
{% block bodycontent %}
			<h1 style="text-align: center;font-size: 5em;margin-top: 15%;">404</h1>
			<h2 style="text-align: center;font-size: 2.5em;">Page Not Available</h2>
                        <h3 style="text-align: center;font-size: 1em;"><br/><a href="/">go to the home page again.</a> :)</h3>
{% endblock %}
{% block rightsidebar %}
{% endblock %}
