{% extends "flip/base.html" %}
{% load staticfiles %}

{% block title %}
Internal Server Error - Flip
{% endblock %}

{% block headingtitle %}
Internal Server Error - Flip
{% endblock %}
{% block bodycontent %}
                        <h1 style="text-align: center;font-size: 5em;margin-top: 15%;">500</h1>
                        <h2 style="text-align: center;font-size: 2.5em;">Server Error. We are sorry.</h2>
                        <h3 style="text-align: center;font-size: 1em;"><a href="/">go to the home page again.</a> :)</h3>
{% endblock %}
{% block rightsidebar %}
{% endblock %}
